body {
 margin: 0px;
 font-family: 'Source Sans Pro', sans-serif;
}

.main {
 height: 700px;
 background-image: url(images/misc/background.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

#container {
 height: 700px;
 width: 1000px;
 margin: 0 auto;
}

.header {
 margin-top: 0px;
 width: 100%;
}

.logo {
 float: left;
 width: 150px;
 height: 150px;
 margin-top: 10px;
}

nav {
 float: right;
 margin-top: 26px;
}

.navbar {
 color: #545454;
 font-size: 20px;
 margin-left: 25px;
 text-decoration: none;
}

.navbar:hover {
 text-decoration: underline;
}

span {
 width: 100%;
}

h1 {
 font-size: 60px;
 margin-left: 500px;
 color: #545454;
 text-align: justify;
 clear: both;
}

h2 {
 font-size: 30px;
 color: #545454;
 margin-left: 550px;
 text-align: justify;
 clear: both;
}

h3 {
 margin-top: 0px;
 margin-left: 500px;
 font-size: 20px;
 color: #fff;
 text-align: justify;
 clear: both;
}
