body {
 margin: 0px;
 font-family: 'Source Sans Pro', sans-serif;
}

.main {
 height: 700px;
 /* background-image: url(images/misc/background.jpg);*/
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

@media screen and (min-width: 1000px) {
 #container {
  height: 700px;
  width: 1000px;
  margin: 0 auto;
 }
}

.header {
 margin-top: 0px;
 width: 100%;
}

.logo {
 width: 150px;
 height: 150px;
 margin-top: 10px;
}

nav {
 float: right;
 margin-top: 26px;
}

.navbar {
 color: #545454;
 font-size: 20px;
 margin-left: 25px;
 text-decoration: none;
}

.navbar:hover {
 text-decoration: underline;
}

span {
 width: 100%;
}

h1 {
 font-size: 70px;
 margin-left: 0px;
 color: #545454;
 text-align: center;
 clear: both;
 padding-top: 200px;
}

h2 {
 font-size: 30px;
 color: #545454;
 margin-left: 0px;
 text-align: center;
 clear: both;
 margin-top: -40px;
}
